body {
    height: 100vh;
    width: 100vw;
}

header {
    height: 10%;
}

main {
    height: 85%;
    background: #f8f9fa;
}

footer {
    height: 5%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.canvasBox {
    display:flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
}

.canvasBox canvas {
    max-height: inherit;
    max-width: inherit;
}

#commonResult {
    height: 100vh;
}

#commonResult .offcanvas-header {
    height: 10vh;
}

.offcanvas-body {
    height: 90vh;
    overflow: hidden;
}

.offcanvas-body .body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    overflow-y: auto;
}

.offcanvas-body .container-fluid {
    height: 90vh;
    width: 100%;
    overflow-y: auto;
}

.offcanvas-body .container-fluid 


.offcanvas-body #resultDetail {
    height: 15vh;
}

#RGBHSV .col-sm canvas{
    display: flex;
    margin: 1em auto;
}

#eqR ,.offcanvas-body .container-fluid .col {
    margin:auto;
    width: fit-content;
}

#eqR canvas , .offcanvas-body .container-fluid .col canvas {
    width: 100%;
    height: 100%;
}